@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
}

.navbar-nav li {
  text-transform: uppercase;
}
.bg-light{
  background-color: #ffffff!important;
}
.navbar-brand img {
  max-width: 200px;
}

#navbarCustom a {
  color: #333;
  font-size: 13px;
}

#navbarCustom li{
  position: relative;
}
#navbarCustom li:before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scale(0);
    background: #b32265;
    transition: all 0.3s ease;
}
#navbarCustom li:hover:before{
  transform: scale(1);
  transition: all 0.3s ease;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .bgimage{
    margin-top: 75px;
  }
/*.bgimage {
  width: 100%;
  height: 840px;
  background: url('../images/hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bgimage h5,
.bgimage h3 {
  color: white;
  text-shadow: 2px 2px #333;
}*/
.specialization a{
  text-decoration: none;
  display: block;
}
.specialization-1,.specialization-2,.specialization-3,.specialization-4,.specialization-5 {
    position: relative;
    padding: 30px 20px;
    background: #3975a1;
    color: #fff;
    transition: all 0.3s ease;
}
.specialization-1{
  /*opacity: 0;*/
}
.specialization img {
      max-width: 70px;
    max-height: 70px;
    margin-bottom: 30px;
    transition: all 0.3s ease;
}
.specialization figcaption{
  position: relative;
  transition: all 0.3s ease;
}
.specialzed-list:hover{
  background-color: #b32265c7;
  transition: all 0.3s ease;
}

.specialization figcaption:before{
      position: absolute;
    content: '';
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 2px;
    background-color: #fff;
}

.specialzed-list:hover figcaption:before{
      width: 100px;
      transition: all 0.3s ease;
}
.visible-special{
  opacity: 1;
}
.carousel h3,
.carousel h5{
  position: relative;
  z-index: 9;
}
.overlay {
background: rgba(0,0,0,0.4);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
pointer-events: none;
  }

/*.border-2x {
  border: 2px solid #dee2e6 !important;
}*/

.aboutbg {
  width: 100%;
  height: 480px;
  background: url('../images/about-hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.aboute3bg {
  width: 100%;
  height: 480px;
  background: url('../images/aboute3-hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.coursesbg {
  width: 100%;
  height: 480px;
  background: url('../images/about-hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*FOOTER NAV*/
#footer-nav{
  background-color: #3975a0;
  color: #ffffff;
}
#footer-nav a {
  font-size: 11px;
  color: #ffffff;
}


/*ABOUT E3 STYLE*/

.about-e3 .row {
  overflow: hidden;
}

.about-e3-content1 {}

.about-e3-content1 .about-e3-header {
  background-color: #59b0ff;
}

.about-e3-content1 .about-e3-desc {
  background-color: #c7edfe;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  line-height: 1.8;
}

.about-e3-content2 {}

.about-e3-content2 .about-e3-header {
  background-color: #183851;
}

.about-e3-content2 .about-e3-desc {
  background-color: #c7d3d9;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  line-height: 1.8;
}

.about-e3-content1 ul li,
.about-e3-content2 ul li {
  list-style-type: none;
}

.about-e3-content1 ul li:before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #59b0ff;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

.about-e3-content2 ul li:before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #183851;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1.2em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}
.sep{
    position: relative;
    display: block;
    clear: both;
    margin: 0px 0 30px;
    min-width: 100%;
    height: 1px;
    border-top: 1px solid;
    color: #dadade;
}
.sep:before {
    width: 60px;
    content: "";
    height: 2px;
    background: #3695eb;
    position: absolute;
    z-index: 55;
    top: -1px;
}
.sec-title{

}
.back-to-top {
    position: fixed;
    bottom: 85px;
    right: 15px;
    display: none;
}

/*REGISTER FORM*/
.register-form label{
      font-size: 14px;
    font-weight: bold;
}
.register-form input {
  border-radius: 0px;
}
.register-form .form-group{

}
.register-form{
      background: #eee;
    padding: 30px 30px;
}
.reg-btn{
  position: relative;
  /*left: 50%;*/
  /*transform: translateX(-70%);*/
  background-color: #b32265;
  border-radius: 0px;
  color: #fff;
}



/*LOGIN FORM*/
.login-form label{
      font-size: 14px;
    font-weight: bold;
}
.login-form input {
  border-radius: 0px;
}
.login-form .form-group{

}
.login-form{
      background: #eee;
    padding: 30px 30px;
}
.login-btn{
  position: relative;
  /*left: 50%;*/
  /*transform: translateX(-70%);*/
  background-color: #b32265;
  border-radius: 0px;
  color: #fff;
}



.login-forgot-pass a,.forgot-login a,.reg-forgot-login-btn a{
  color: #000;
}

@media only screen and (max-width: 600px) {
  /*.bgimage {
    max-height: 300px;
  }*/

.specialization .col{
  width: 70%;
    display: block;
    flex: none;
    margin: 0 auto 10px;
}
.recognization img{
  max-width: 150px;
  margin-bottom: 10px;
}
.register-form .pr-5{
  padding-right: 0px!important;
}
.reg-btn{
  /*transform: translateX(-50%);*/
}
}










