/* Responsive Css */


@media only screen and (max-width: 1399px){



}


@media only screen and (max-width: 1200px){

  .about-section .image-box img{
    max-width: 100%;
  }

  .about-section .content_block_1 .content-box{
    margin-left: 0px;
  }

  .chooseus-section .image-box{
    margin-right: 0px;
  }

  .main-footer .footer-top .text{
    float: none;
    display: block;
    margin-bottom: 15px;
  }

  .main-footer .footer-top .support-box{
    float: none;
    display: block;
  }

  .main-footer .pattern-layer .pattern-3{
    background-size: cover;
  }

  .banner-carousel .inner-box .image-box,
  .banner-carousel .owl-nav{
    display: none;
  }

  .banner-carousel .content-box{
    max-width: 100%;
  }

  .rtl .main-footer .footer-top .support-box{
    float: right !important;
  }

  .feature-section.light .pattern-layer .pattern-1{
    background-size: cover;
  }


}



@media only screen and (max-width: 991px){

  .feature-block-one .inner-box{
    margin-bottom: 30px;
  }

  .feature-section .inner-container{
    padding-bottom: 63px;
  }

  .about-section .image-box{
    margin-bottom: 30px;
  }

  .sec-title h2 br{
    display: none !important;
  }

  .service-section{
    padding-top: 150px;
  }

  .service-section .image-layer{
    display: none;
  }

  .service-section .left-column{
    padding: 0px;
  }

  .service-block-one{
    margin: 0 auto !important;
    left: 0px !important;
    right: 0px !important;
  }

  .service-section .right-column{
    padding-left: 0px;
  }

  .testimonial-section .owl-dots{
    display: none;
  }

  .news-block-one .inner-box{
    margin-bottom: 30px;
  }

  .news-section{
    padding-bottom: 120px;
  }

  .main-footer .footer-widget{
    margin: 0px 0px 30px 0px !important;
  }

  .main-footer .widget-section{
    padding-bottom: 50px;
  }

  .testimonial-block-one .inner-box{
    margin-bottom: 30px;
  }

}


@media only screen and (max-width: 767px){

  .banner-carousel .content-box h2{
    font-size: 36px;
    line-height: 44px;
  }

  .banner-carousel .content-box{
    padding: 180px 0px 200px 0px;
  }

  .feature-block-one .inner-box .shape{
    display: none;
  }

  .feature-section .inner-container{
    padding: 70px 30px 40px 30px;
  }

  .about-section{
    padding: 70px 0px;
  }

  .sec-title h2{
    font-size: 32px;
    line-height: 40px;
  }

  .service-block-one .inner-box{
    margin-bottom: 30px;
  }

  .service-section .shape{
    display: none;
  }

  .service-section{
    padding: 70px 0px 40px 0px;
  }

  .chooseus-section .image-box{
    top: 0px;
    margin-top: 30px;
  }

  .chooseus-section{
    padding: 70px 0px 120px 0px;
  }

  
  .news-section{
    padding: 65px 0px 40px 0px;
  }

  .testimonial-section .shape-layer{
    display: none;
  }

  .testimonial-section{
    padding: 70px 0px 40px 0px;
  }

  .main-footer .pattern-layer{
    display: none;
  }

  .main-footer .footer-top{
    padding-top: 90px;
  }

  .footer-bottom .bottom-inner{
    display: block;
    text-align: center;
  }

  .chooseus-section .content_block_2 .content-box{
    margin-right: 0px;
  }


}


@media only screen and (max-width: 499px){

  .testimonial-block-one .inner-box{
    padding-left: 30px;
  }

  .testimonial-block-one .inner-box .author-thumb{
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 15px;
  }

  .news-block-one .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .feature-section.light .title-text h2 br{
    display: none;
  }

  .rtl .testimonial-block-one .inner-box{
    padding-right: 30px;
  }

  .rtl .testimonial-block-one .inner-box .author-thumb{
    right: 0px;
    text-align: right;
  }

  .feature-section .title-text h2 br{
    display: none;
  }

}


@media only screen and (max-width: 399px){

  .banner-carousel .content-box .btn-box .theme-btn.btn-one{
    margin-bottom: 10px;
  }

}