
* {
margin:0px;
padding:0px;
border:none;
outline:none;
}
body {
font-size:15px;
color:#898c8f;
line-height:26px;
font-weight:400;
background:#ffffff;
font-family: "Poppins", serif;
background-size:cover;
background-repeat:no-repeat;
background-position:center top;
-webkit-font-smoothing: antialiased;
}
@media (min-width:1200px) {
.container {
max-width: 1170px;
padding: 0px 15px;
}
}
.auto-container{
position:static;
max-width:1200px;
padding:0px 15px;
margin:0 auto;
}
.boxed_wrapper{
position: relative;
margin: 0 auto;
overflow: hidden !important;
width: 100%;
min-width: 300px;
}
a{
text-decoration:none;
transition:all 500ms ease;
-moz-transition:all 500ms ease;
-webkit-transition:all 500ms ease;
-ms-transition:all 500ms ease;
-o-transition:all 500ms ease;
}
a:hover{
text-decoration:none;
outline:none;
}
input,button,select,textarea{
font-family: "Poppins", serif;
font-weight: 400;
font-size: 15px;
}
ul,li{
list-style:none;
padding:0px;
margin:0px;
}
input{
transition: all 500ms ease;
}
button:focus, input:focus, textarea:focus{
outline: none;
box-shadow: none;
transition: all 500ms ease;
}
p{
position: relative;
font-family: "Poppins", serif;
color: #808080;
font-weight: 400;
margin: 0px;
transition: all 500ms ease;
}
h1,h2,h3,h4,h5,h6{
position:relative;
font-family: "Poppins", serif;
font-weight: 400;
color: #061a3a;
margin: 0px;
transition: all 500ms ease;
}
.centred{
text-align: center;
}
.pull-left{
float: left;
}
.pull-right{
float: right;
}
.whatsapp-link{
position: fixed;
bottom: 25px;
right: 30px;
border: 1px solid #4AC959;
border-radius: -110px;
padding: 10px;
z-index: 999;
background: #ffffff;
}
.whatsapp-link i{
color: #4AC959;
font-size: 28px;
}
figure{
margin: 0px;
}
img {
display: inline-block;
max-width: 100%;
height: auto;
transition-delay: .1s;
transition-timing-function: ease-in-out;
transition-duration: .7s;
transition-property: all;
}
.theme-btn{
position: relative;
display: inline-block;
overflow: hidden;
vertical-align: middle;
font-size: 17px;
line-height: 25px;
font-family: "Poppins", serif;
font-weight: 600;
text-align: center;
padding: 15px 34px;
border: 2px solid #ffffff;
z-index: 1;
transition: all 500ms ease;
}
.theme-btn.btn-one{
color: #fff !important;
}
.theme-btn:before{
webkit-transition-duration: 800ms;
transition-duration: 800ms;
position: absolute;
width: 200%;
height: 200%;
content: "";
top: 110%;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
border-radius: 50%;
z-index: -1;
}
.theme-btn:hover:before{
top: -40%;
}
.theme-btn.btn-two{
color: #172746 !important;
padding: 13px 34px;
border: 2px solid #efefef;
}
.theme-btn.btn-two:hover{
color: #fff !important;
}
.scroll-top{
width: 55px;
height: 55px;
line-height: 64px;
position: fixed;
bottom: 105%;
right: 30px;
font-size: 40px;
z-index: 99;
color: #ffffff;
text-align: center;
cursor: pointer;
transition: 1s ease;
}
.scroll-top.open {
bottom: 50px;
}
.scroll-top span{
color: #fff;
}
.sec-title{
position: relative;
display: block;
margin-bottom: 50px;
}
.sec-title h2{
position: relative;
display: block;
font-size: 40px;
line-height: 55px;
font-weight: 700;
}
.sec-title.light h2{
color: #ffffff;
}
.dropdown-toggle::after {
display: none;
}
.banner-section{
position: relative;
overflow: hidden;
background-color: #04a8e5;
}
.banner-section .shape{
position: absolute;
left: 0px;
bottom: 0px;
width: 100%;
height: 68px;
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center;
z-index: 2;
}
.banner-carousel{
position: relative;
}
.banner-carousel .slide-item{
position: relative;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.banner-carousel .slide-item .image-layer{
position:absolute;
left:0;
top:0;
width:100%;
height:100%;
background-repeat: no-repeat;
background-position: bottom center;
background-size: cover;
}
.banner-carousel .content-box{
position: relative;
display: block;
max-width: 500px;
z-index:5;
padding: 212px 0px 240px 0px;
}
.banner-carousel .content-box h2{
position: relative;
display: block;
color: #fff;
font-size: 50px;
line-height: 66px;
font-weight: 800;
margin-bottom: 23px;
opacity: 0;
-webkit-transform: translateY(100px);
-moz-transform: translateY(100px);
-ms-transform: translateY(100px);
-o-transform: translateY(100px);
transform: translateY(100px);
-webkit-transition: all 1000ms ease;
-moz-transition: all 1000ms ease;
-ms-transition: all 1000ms ease;
-o-transition: all 1000ms ease;
transition: all 1000ms ease;
}
.banner-carousel .active .content-box h2{
opacity: 1;
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transform: translateY(0);
-webkit-transition-delay: 1000ms;
-moz-transition-delay: 1000ms;
-ms-transition-delay: 1000ms;
-o-transition-delay: 1000ms;
transition-delay: 1000ms;
}
.banner-carousel .content-box p{
position: relative;
display: block;
color: #fff;
font-size: 18px;
line-height: 30px;
margin-bottom: 42px;
opacity: 0;
-webkit-transform: translateY(100px);
-moz-transform: translateY(100px);
-ms-transform: translateY(100px);
-o-transform: translateY(100px);
transform: translateY(100px);
-webkit-transition: all 1000ms ease;
-moz-transition: all 1000ms ease;
-ms-transition: all 1000ms ease;
-o-transition: all 1000ms ease;
transition: all 1000ms ease;
}
.banner-carousel .active .content-box p{
opacity: 1;
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transform: translateY(0);
-webkit-transition-delay: 1200ms;
-moz-transition-delay: 1200ms;
-ms-transition-delay: 1200ms;
-o-transition-delay: 1200ms;
transition-delay: 1200ms;
}
.banner-carousel .content-box .btn-box{
position: relative;
opacity: 0;
-webkit-transform: translateY(100px);
-moz-transform: translateY(100px);
-ms-transform: translateY(100px);
-o-transform: translateY(100px);
transform: translateY(100px);
-webkit-transition: all 1000ms ease;
-moz-transition: all 1000ms ease;
-ms-transition: all 1000ms ease;
-o-transition: all 1000ms ease;
transition: all 1000ms ease;
}
.banner-carousel .active .content-box .btn-box{
opacity: 1;
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transform: translateY(0);
-webkit-transition-delay: 1400ms;
-moz-transition-delay: 1400ms;
-ms-transition-delay: 1400ms;
-o-transition-delay: 1400ms;
transition-delay: 1400ms;
}
.banner-carousel .content-box .btn-box .theme-btn:before{
background-color: #fff;
}
.banner-carousel .content-box .btn-box .theme-btn.btn-one{
margin-right: 16px;
}
.owl-dots-none .owl-dots, .owl-nav-none .owl-nav{
display: none !important;
}
.banner-carousel .inner-box{
position: relative;
width: 100%;
}
.banner-carousel .inner-box .image-box{
position: absolute;
right: 0px;
bottom: 25px;
min-height: 700px;
min-width: 1000px;
}
.banner-carousel .inner-box .image-box .image-1{
position: absolute;
right: 85px;
bottom: 86px;
opacity: 0;
-webkit-transform: translateY(100px);
-moz-transform: translateY(100px);
-ms-transform: translateY(100px);
-o-transform: translateY(100px);
transform: translateY(100px);
-webkit-transition: all 1000ms ease;
-moz-transition: all 1000ms ease;
-ms-transition: all 1000ms ease;
-o-transition: all 1000ms ease;
transition: all 1000ms ease;
}
.banner-carousel .inner-box .image-box .image-2{
position: absolute;
right: -220px;
bottom: 0px;
opacity: 0;
z-index: -1;
-webkit-transform: translateY(100px);
-moz-transform: translateY(100px);
-ms-transform: translateY(100px);
-o-transform: translateY(100px);
transform: translateY(100px);
-webkit-transition: all 1000ms ease;
-moz-transition: all 1000ms ease;
-ms-transition: all 1000ms ease;
-o-transition: all 1000ms ease;
transition: all 1000ms ease;
}
.banner-carousel .active .inner-box .image-box .image-1{
opacity: 1;
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transform: translateY(0);
-webkit-transition-delay: 1000ms;
-moz-transition-delay: 1000ms;
-ms-transition-delay: 1000ms;
-o-transition-delay: 1000ms;
transition-delay: 1000ms;
}
.banner-carousel .active .inner-box .image-box .image-2{
opacity: 1;
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transform: translateY(0);
-webkit-transition-delay: 1000ms;
-moz-transition-delay: 1000ms;
-ms-transition-delay: 1000ms;
-o-transition-delay: 1000ms;
transition-delay: 1000ms;
}
.banner-carousel .pattern-box .pattern-1{
position: absolute;
left: 0px;
top: -250px;
width: 560px;
height: 560px;
background: rgba(255, 255, 255, 0.05);
border-radius: 50%;
}
.banner-carousel .pattern-box .pattern-2{
position: absolute;
right: 290px;
top: 140px;
width: 330px;
height: 330px;
background: rgba(255, 255, 255, 0.05);
border-radius: 50%;
-webkit-animation: zoom-fade 10s infinite linear;
animation: zoom-fade 10s infinite linear;
}
.banner-carousel .pattern-box .pattern-3{
position: absolute;
left: 0px;
bottom: 0px;
width: 100%;
height: 363px;
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
}
.feature-section{
position: relative;
}
.feature-section .inner-container{
position: relative;
display: block;
background-color: #fff;
padding: 95px 50px 93px 50px;
box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
z-index: 2;
}
.feature-section .title-text{
position: relative;
display: block;
margin-bottom: 45px;
}
.feature-section .title-text h2{
font-size: 32px;
line-height: 45px;
font-weight: 700;
}
.feature-block-one .inner-box{
position: relative;
display: block;
}
.feature-block-one .inner-box .icon-box{
position: relative;
font-size: 60px;
line-height: 60px;
margin-bottom: 22px;
transition: all 500ms ease;
}
.feature-block-one .inner-box:hover .icon-box{
transform: scale(1.1);
}
.feature-block-one .inner-box h4{
display: block;
font-size: 20px;
line-height: 30px;
font-weight: 500;
margin-bottom: 15px;
}
.feature-block-one .inner-box p{
font-size: 15px;
line-height: 26px;
}
.feature-block-one .inner-box .shape{
position: absolute;
top: 50%;
transform: translateY(-50%);
right: -15px;
width: 12px;
height: 121px;
background-repeat: no-repeat;
}
.about-section{
position: relative;
padding: 110px 0px 110px 0px;
}
.about-section .image-box{
position: relative;
display: block;
}
.about-section .image-box img{
max-width: 100%;
float: right;
}
.content_block_1 .content-box{
position: relative;
display: block;
}
.about-section .content_block_1 .content-box{
margin-left: 40px;
}
.content_block_1 .content-box .text p{
margin-bottom: 26px;
}
.content_block_1 .content-box .text p:last-child{
margin-bottom: 0px;
}
.content_block_1 .content-box .text{
position: relative;
display: block;
margin-bottom: 48px;
}
.content_block_1 .content-box .sec-title{
margin-bottom: 17px;
}
.content_block_1 .content-box .theme-btn{
padding: 15px 50px;
}
.bg-color-1{
background-color: #f2f9ff;
}
.service-section{
position: relative;
overflow: hidden;
padding: 110px 0px 30px 0px;
}
.service-section .shape{
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 200px;
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center;
}
.service-section .image-layer{
position: absolute;
left: 50%;
transform: translateX(-50%);
bottom: 0px;
margin-left: 25px;
z-index: 1;
}
.service-section .left-column{
position: relative;
display: block;
padding-right: 180px;
}
.service-section .right-column{
position: relative;
display: block;
padding-left: 180px;
}
.service-block-one{
position: relative;
max-width: 450px;
width: 100%;
z-index: 1;
}
.service-block-one .inner-box{
position: relative;
display: block;
background: #fff;
padding: 40px 40px 35px 40px;
box-shadow: 0px 10px 40px 0px rgb(0 0 0 / 8%);
margin-bottom: 70px;
z-index: 1;
transition: all 500ms ease;
}
.service-block-one .inner-box:hover{
transform: translateY(-10px);
box-shadow: 0px 10px 40px 0px rgb(0 0 0 / 12%);
}
.service-block-one .inner-box .icon-box{
position: relative;
font-size: 50px;
line-height: 50px;
margin-bottom: 27px;
transition: all 500ms ease;
}
.service-block-one .inner-box h4{
display: block;
font-size: 20px;
line-height: 30px;
font-weight: 600;
margin-bottom: 14px;
}
.service-block-one .inner-box h4 a{
display: inline-block;
color: #172746;
}
.service-section .sec-title{
margin-bottom: 57px;
}
.service-section .bg-shape-1{
position: absolute;
left: 50%;
bottom: -300px;
transform: translateX(-50%);
background: rgba(255, 255, 255, 0.5);
width: 900px;
height: 900px;
border-radius: 50%;
}
.service-section .bg-shape-2{
position: absolute;
left: 50%;
bottom: -200px;
transform: translateX(-50%);
background: rgba(255, 255, 255, 0.6);
width: 700px;
height: 700px;
border-radius: 50%;
box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 5%);
}
.service-section .bg-shape-3{
position: absolute;
left: 50%;
bottom: -100px;
transform: translateX(-50%);
background: rgba(255, 255, 255, 1);
width: 500px;
height: 500px;
border-radius: 50%;
box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 5%);
}
.chooseus-section{
position: relative;
padding: 110px 0px 88px 0px;
}
.content_block_2 .content-box{
position: relative;
display: block;
}
.content_block_2 .content-box .single-item{
position: relative;
display: block;
padding-left: 85px;
margin-bottom: 27px;
min-height: 90px;
}
.content_block_2 .content-box .single-item:last-child{
margin-bottom: 0px;
}
.content_block_2 .content-box .single-item .icon-box{
position: absolute;
left: 0px;
top: 4px;
display: inline-block;
width: 60px;
height: 60px;
line-height: 66px;
text-align: center;
font-size: 20px;
color: #fff;
border-radius: 50%;
}
.content_block_2 .content-box .single-item h4{
display: block;
font-size: 20px;
line-height: 30px;
color: #fff;
font-weight: 500;
margin-bottom: 8px;
}
.content_block_2 .content-box .single-item p{
color: #fff;
}
.content_block_2 .content-box .sec-title{
margin-bottom: 30px;
}
.chooseus-section .content_block_2 .content-box{
margin-right: 35px;
}
.chooseus-section .image-box{
position: relative;
display: block;
margin-right: -140px;
z-index: 1;
}
.chooseus-section .image-box .image{
position: relative;
display: block;
background: #fff;
border: 15px solid #fff;
box-shadow: 0px 10px 50px 0px rgb(0 0 0 / 10%);
}
.chooseus-section .image-box .image img{
width: 100%;
}
.chooseus-section .bg-layer{
position: absolute;
left: 0px;
bottom: 0px;
width: 100%;
height: 100%;
background-size: cover;
background-repeat: no-repeat;
background-position: bottom center;
}
.chooseus-section .shape-layer .shape-1{
position: absolute;
left: 0px;
top: 0px;
width: 604px;
height: 395px;
background-repeat: no-repeat;
}
.chooseus-section .shape-layer .shape-2{
position: absolute;
top: -50px;
right: 230px;
width: 330px;
height: 330px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.05);
-webkit-animation: zoom-fade 10s infinite linear;
animation: zoom-fade 10s infinite linear;
}
.chooseus-section .shape-layer .shape-3{
position: absolute;
top: -40px;
right: -120px;
width: 560px;
height: 560px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.05);
}
.chooseus-section .shape-layer .shape-4{
position: absolute;
left: 0px;
bottom: 0px;
width: 100%;
height: 62px;
background-size: cover;
background-repeat: no-repeat;
background-position: top center;
}
@keyframes slide{
from {
background-position: 0 0;
}
to {
background-position: 1920px 0;
}
}
@-webkit-keyframes slide{
from {
background-position: 0 0;
}
to {
background-position: 1920px 0;
}
}
.testimonial-section{
position: relative;
padding: 110px 0px 110px 0px;
}
.testimonial-section .sec-title{
margin-bottom: 40px;
}
.testimonial-block-one .inner-box{
position: relative;
display: block;
background: #fff;
padding: 45px 30px 45px 190px;
}
.testimonial-block-one .inner-box .author-thumb{
position: absolute;
left: 40px;
top: 40px;
width: 120px;
height: 150px;
border-radius: 100px;
}
.testimonial-block-one .inner-box .author-thumb img{
width: 100%;
border-radius: 100px;
}
.testimonial-block-one .inner-box .rating li{
position: relative;
display: inline-block;
float: left;
margin-right: 10px;
font-size: 18px;
}
.testimonial-block-one .inner-box .rating li:last-child{
margin: 0px !important;
}
.testimonial-block-one .inner-box .rating{
position: relative;
display: block;
margin-bottom: 17px;
}
.testimonial-block-one .inner-box p{
color: #222222;
margin-bottom: 20px;
}
.testimonial-block-one .inner-box h5{
display: block;
font-size: 18px;
line-height: 28px;
font-weight: 600;
margin-bottom: 1px;
}
.testimonial-section .owl-dots{
position: absolute;
top: -80px;
right: -7.5px;
}
.testimonial-section .owl-dots span{
position: relative;
display: inline-block;
width: 15px;
height: 15px;
background: #dfe5eb !important;
border-radius: 50%;
margin: 0px 7.5px !important;
cursor: pointer;
transition: all 500ms ease !important;
}
.testimonial-section .shape-layer .shape-1{
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 80px;
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center;
}
.testimonial-section .shape-layer .shape-2{
position: absolute;
left: 0px;
bottom: 0px;
width: 100%;
height: 134px;
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center;
}
.news-section{
position: relative;
padding: 110px 0px 110px 0px;
}
.news-block-one .inner-box{
position: relative;
display: block;
background-color: #fff;
padding: 40px 40px;
padding-top: 0px;
z-index: 1;
}
.news-block-one .inner-box:before {
position: absolute;
content: '';
background: #fff;
width: 100%;
height: calc(100% - 120px);
left: 0px;
bottom: 0px;
box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 8%);
z-index: -1;
}
.news-block-one .inner-box .image-box{
position: relative;
display: block;
overflow: hidden;
background-color: #0c1529;
}
.news-block-one .inner-box .image-box img{
width: 100%;
transition: all 500ms ease;
}
.news-block-one .inner-box:hover .image-box img{
opacity: 0.4;
transform: scale(1.05);
}
.news-block-one .inner-box .lower-content{
position: relative;
padding-top: 24px;
}
.news-block-one .inner-box .lower-content .category{
position: relative;
display: block;
margin-bottom: 10px;
}
.news-block-one .inner-box .lower-content .category a{
position: relative;
display: inline-block;
font-size: 14px;
line-height: 24px;
font-weight: 600;
text-transform: uppercase;
}
.news-block-one .inner-box .lower-content .category a:hover{
text-decoration: underline;
}
.news-block-one .inner-box .lower-content h4{
display: block;
font-size: 20px;
line-height: 28px;
font-weight: 600;
margin-bottom: 5px;
}
.news-block-one .inner-box .lower-content h4 a{
display: inline-block;
color: #172746;
}
.news-block-one .inner-box .lower-content .text{
margin-bottom: 23px;
}
.news-block-one .inner-box .lower-content .theme-btn{
padding: 10.5px 30px;
}
.ml-70{
margin-left: 70px;
}
.main-footer{
position: relative;
background-color: #001a56;
}
.main-footer .pattern-layer .pattern-3{
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 165px;
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center;
}
.main-footer .footer-top{
position: relative;
width: 100%;
padding: 80px 0px 70px 0px;
}
.main-footer .footer-top .text h2{
font-size: 30px;
line-height: 60px;
color: #fff;
font-weight: 600;
margin: 0px;
}
.main-footer .footer-top .support-box a{
position: relative;
display: inline-block;
overflow: hidden;
vertical-align: middle;
font-size: 18px;
line-height: 25px;
font-family: "Poppins", serif;
color: #fff;
font-weight: 600;
text-align: center;
padding: 17.5px 40px;
border-radius: 30px;
z-index: 1;
transition: all 500ms ease;
}
.main-footer .footer-top .support-box a i{
margin-right: 18px;
}
.main-footer .footer-top .line-shape{
position: absolute;
left: 0px;
bottom: 0px;
width: 100%;
height: 22px;
background-repeat: no-repeat;
}
.main-footer .widget-section{
position: relative;
width: 100%;
padding: 70px 0px 80px 0px;
}
.main-footer .logo-widget{
position: relative;
margin-top: -10px;
}
.main-footer .logo-widget .footer-logo{
position: relative;
margin-bottom: 37px;
}
.footer-logo {
width: 70px;
}
.main-footer .logo-widget .text{
position: relative;
display: block;
margin-bottom: 31px;
}
.main-footer .logo-widget .text p{
color: #fff;
}
.main-footer .logo-widget .schedule-box h6{
display: block;
font-size: 16px;
line-height: 26px;
color: #fff;
font-weight: 600;
margin-bottom: 15px;
}
.main-footer .logo-widget .schedule-box .list li{
position: relative;
display: block;
font-size: 15px;
color: #fff;
line-height: 26px;
margin-bottom: 4px;
}
.main-footer .logo-widget .schedule-box .list li:last-child{
margin-bottom: 0px;
}
.main-footer .widget-title{
position: relative;
display: block;
margin-bottom: 43px;
}
.main-footer .widget-title h4{
font-size: 20px;
line-height: 30px;
color: #fff;
font-weight: 600;
}
.main-footer .contact-widget .info-list li{
position: relative;
display: block;
font-size: 15px;
line-height: 30px;
color: #fff;
padding-left: 34px;
margin-bottom: 20px;
}
.main-footer .contact-widget .info-list li:last-child{
margin-bottom: 0px;
}
.main-footer .contact-widget .info-list li a{
display: inline-block;
color: #fff;
}
.main-footer .contact-widget .info-list li i{
position: absolute;
left: 0px;
top: 4px;
font-size: 20px;
}
.main-footer .contact-widget .info-list li:first-child i{
top: 10px;
}
.main-footer .pattern-layer .pattern-1{
position: absolute;
top: 0px;
right: 0px;
width: 694px;
height: 389px;
background-repeat: no-repeat;
}
.main-footer .pattern-layer .pattern-2{
position: absolute;
left: 0px;
bottom: 0px;
width: 100%;
height: 384px;
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
}
.footer-bottom{
position: relative;
width: 100%;
background-color: #ffffff;
padding: 20px 0px;
}
.footer-bottom .bottom-inner{
position: relative;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}
.footer-bottom .copyright p{
font-size: 15px;
line-height: 40px;
color: #000000;
}
.footer-bottom .copyright p a:hover{
text-decoration: underline;
}
.footer-bottom .social-links li{
position: relative;
display: inline-block;
margin: 0px 3.5px;
}
.footer-bottom .social-links li a{
position: relative;
display: inline-block;
font-size: 15px;
color: #000000;
background: rgba(0, 0, 0, 0.15);
width: 40px;
height: 40px;
line-height: 40px;
text-align: center;
border-radius: 50%;
}
.footer-bottom .social-links li a:hover{
color: #ffffff;
}
.owl-carousel .owl-nav button, .owl-carousel .owl-dots button{
background: transparent;
}
.banner-carousel .owl-nav{
position: absolute;
left: 0px;
top: 40%;
transform: translateY(-50%);
width: 100%;
}
.banner-carousel .owl-nav button{
position: absolute;
display: inline-block;
width: 70px;
height: 70px;
line-height: 70px;
background-color: #fff;
font-size: 24px;
color: #172746;
border-radius: 50%;
text-align: center;
cursor: pointer;
z-index: 1;
transition: all 500ms ease;
}
.banner-carousel .owl-nav button.owl-prev{
left: 50px;
}
.banner-carousel .owl-nav button.owl-next{
right: 50px;
}
.banner-carousel .owl-nav button:hover{
color: #fff;
}
@-webkit-keyframes ripple {
70% {
-webkit-box-shadow: 0 0 0 60px rgba(255, 255, 255, 0);
box-shadow: 0 0 0 60px rgba(255, 255, 255, 0);
}
100% {
-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}
}
@keyframes ripple {
70% {
-webkit-box-shadow: 0 0 0 60px rgba(255, 255, 255, 0);
box-shadow: 0 0 0 60px rgba(255, 255, 255, 0);
}
100% {
-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}
}
.testimonial-section .pattern-layer .pattern-1{
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 573px;
background-repeat: no-repeat;
background-position: center;
background-size: 100% 100%;
}
.testimonial-section .pattern-layer .pattern-2{
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 275px;
background-repeat: no-repeat;
background-position: center;
background-size: 100% 100%;
}
.feature-section.light .inner-container{
background: transparent;
margin: 0px;
}
.feature-section.light .pattern-layer .pattern-1{
position: absolute;
left: 0px;
top: -61px;
width: 100%;
height: 61px;
background-repeat: no-repeat;
background-position: center;
background-size: 100% 100%;
}
.feature-section.light .pattern-layer .pattern-2{
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-position: bottom center;
background-size: cover;
}
.feature-section.light .title-text h2{
color: #fff;
}
.feature-section.light .feature-block-one .inner-box h4{
color: #fff;
}
.feature-section.light .feature-block-one .inner-box p{
color: rgba(255, 255, 255, 0.70);
}
.feature-section.light{
padding: 113px 0px 177px 0px;
}
.testimonial-section .shape-layer .shape-3{
position: absolute;
left: 0px;
bottom: 0px;
width: 100%;
height: 80px;
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center;
}
.nice-select:after{
width: 6px;
height: 6px;
border-bottom: 2px solid #222;
border-right: 2px solid #222;
right: 20px;
}
.nice-select{
position: relative;
display: block;
width: 100%;
height: 44px;
line-height: 44px;
border: 1px solid #e5e5e5 !important;
border-radius: 30px;
padding: 0px 30px;
font-size: 15px;
font-weight: 600;
color: #172746;
font-family: "Poppins", serif;
background: transparent;
}
.news-block-one .inner-box .lower-content h3{
display: block;
font-size: 24px;
line-height: 34px;
font-weight: 600;
margin-bottom: 4px;
}
.news-block-one .inner-box .lower-content h3 a{
display: inline-block;
color: #172746;
}
.news-section .owl-carousel .owl-stage-outer{
overflow: visible;
}
.news-section .owl-carousel .owl-stage-outer .owl-item{
opacity: 0;
}
.news-section .owl-carousel .owl-stage-outer .owl-item.active{
opacity: 1;
}
.loader-wrap {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 1);
display: flex;
justify-content: center;
align-items: center;
z-index: 9999;
opacity: 1;
transition: opacity 0.5s ease-out;
}
.loader {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
animation: fadeIn 1s ease-in-out;
}
.spinner {
border: 8px solid #f3f3f3;
border-top: 8px solid #3498db;
border-radius: 50%;
width: 70px;
height: 70px;
animation: spin 2s linear infinite, pulse 1.5s ease-in-out infinite;
box-shadow: 0 0 15px rgba(52, 152, 219, 0.5);
}
@keyframes spin {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}
@keyframes pulse {
0% {
transform: scale(1);
opacity: 1;
}
50% {
transform: scale(1.2);
opacity: 0.7;
}
100% {
transform: scale(1);
opacity: 1;
}
}
.loader-text h2 {
margin-top: 20px;
font-size: 36px;
color: #3498db;
font-weight: bold;
animation: slideIn 2s ease-out;
font-family: 'Arial', sans-serif;
}
.loader-text p {
font-size: 18px;
color: #333;
margin-top: 10px;
font-family: 'Arial', sans-serif;
animation: fadeIn 2s ease-out;
}
@keyframes slideIn {
0% {
transform: translateY(-50px);
opacity: 0;
}
100% {
transform: translateY(0);
opacity: 1;
}
}
body.loaded .loader-wrap {
opacity: 0;
pointer-events: none;
}
@keyframes fadeIn {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
@media (max-width: 576px) {
.navbar {
padding: 0.5rem 1rem!important;
}
.inner-box, section{
text-align: center!important;
}
}
.navbar {
padding: 0.5rem 5rem;
}
.nav-item a{
color: #000000!important;
}
.box {
width:200px;
height:200px;
position:relative;
overflow:hidden;
color:#000000!important;
font-size:25px;
font-weight:600;
text-transform:uppercase;
background: rgba(255, 255, 255, 0.5);
backdrop-filter: blur(10px);
padding: 40px;
max-width: 500px;
width: 90%;
color: white;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(0, 0, 0, 0.2);
text-align: center;
}
.box:before {
content:"";
position:absolute;
width:400px;
height:400px;
background:#04a8e5;
left:50%;
transform:translateX(-50%);
border-radius:40%;
animation:fill 7s ease-out infinite;
z-index:-1;
border:1px solid #030200;
}
@keyframes fill {
from {
top:200px;
transform:translateX(-50%) rotate(0deg);
}
to {
top:-50px;
transform:translateX(-50%) rotate(360deg);
}
}